NodeRed/flows (1).json
[{"id":"47e9b769.f10e68","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":true,"info":""},{"id":"e046a977.bb9a18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"87312f97.b9b44","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b4e64e49daf3f9c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef8e18df.08529","type":"ui_group","name":"Default","tab":"76c3eae3.220694","order":2,"disp":true,"width":"6","collapse":false},{"id":"76c3eae3.220694","type":"ui_tab","name":"tab","icon":"dashboard","disabled":false,"hidden":false},{"id":"54d5489c.2911","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"82de5ee5.0a9a6","type":"ui_group","name":"group","tab":"76c3eae3.220694","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b50b449.a2bf6c","type":"mqtt-broker","name":"","broker":"https://52.188.12.223/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc740d23.438bf","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"cffac7b6.1e36","type":"ui_tab","name":"McMaster AutoPlow Chatbot ","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fa34511.0a7d64","type":"ui_group","name":"Record","tab":"cffac7b6.1e36","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65638bb5.46df9c","type":"ui_group","name":"Chat","tab":"cffac7b6.1e36","order":2,"disp":true,"width":"10","collapse":false},{"id":"6fc63314.2eb644","type":"ui_spacer","name":"spacer","group":"7fa34511.0a7d64","order":5,"width":1,"height":1},{"id":"586c4466.73cdcc","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a1d6782.b4168","type":"chatbot-alexa-node","botname":"","usernames":"","store":"","log":"","debug":false},{"id":"170533d1.bda08c","type":"chatbot-context-store","name":"newContext","contextStorage":"","contextParams":""},{"id":"e80c3438.ce193","type":"chatbot-alexa-node","botname":"bot1","usernames":"","store":"170533d1.bda08c","log":"","debug":false},{"id":"b2d8655f.cdf21","type":"ttsultimate-config","name":"TTS Service","noderedipaddress":"AUTODISCOVER","noderedport":"1980","purgediratrestart":"leave","ttsservice":"googletranslate","TTSRootFolderPath":""},{"id":"c1720b72.50491","type":"ui_tab","name":"MapUI","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f503220.71367e","type":"ui_group","name":"Map","tab":"c1720b72.50491","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ef83b25d.2c7c6","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7bb39ca92f01fe6b","type":"mqtt-broker","name":"Mosquitto Test","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b8829744217781ab","type":"ui_group","name":"Default","tab":"f2d8e0e7919bf78e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f2d8e0e7919bf78e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b9843f2f.4ccf88","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"console":"false","complete":"false","x":930,"y":320,"wires":[]},{"id":"3c510aa2.10965e","type":"switch","z":"47e9b769.f10e68","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"USinfectionlevel","vt":"str"},{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":320,"wires":[["b87a33c3.c89268"],["9e7eae69.f46588"],["1d39bc43.d48a74"]]},{"id":"67eed93a.2d34a","type":"comment","z":"47e9b769.f10e68","name":"Reply to the user","info":"","x":1160,"y":340,"wires":[]},{"id":"7bcb0ff6.a43408","type":"change","z":"47e9b769.f10e68","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["61a9dd2a.5dae64","e7c40f16.b9cbd8","a9094417.3cb1a8"]]},{"id":"723ff8b6.d58328","type":"watson-text-to-speech","z":"47e9b769.f10e68","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"oK7eTYzPKAuqK88AZ74VXwUz3Xvdy8Zqo8Hi7_GKc5ZS","payload-response":true,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/a464b093-0c22-492d-9bff-c04c0aada98d","x":940,"y":380,"wires":[["d6f85cd2.211a78"]]},{"id":"56673dd3.d0965c","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"87116c84.ed17d8","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"console":"false","complete":"false","x":650,"y":460,"wires":[]},{"id":"1d39bc43.d48a74","type":"function","z":"47e9b769.f10e68","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[["b9843f2f.4ccf88","61a9dd2a.5dae64","723ff8b6.d58328"]]},{"id":"d6f85cd2.211a78","type":"play audio","z":"47e9b769.f10e68","name":"","x":1150,"y":380,"wires":[]},{"id":"e7c40f16.b9cbd8","type":"watson-conversation-v1","z":"47e9b769.f10e68","name":"","workspaceid":"719c05ab-e34b-48b9-99ac-635a7eb8e23d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/fe3c382f-966e-4bf2-989a-901275b30629","timeout":"","optout-learning":false,"x":920,"y":100,"wires":[["adc42e13.26a9e8","c6e6e876.249988"]]},{"id":"adc42e13.26a9e8","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":100,"wires":[]},{"id":"32b9c54c.c7b9e2","type":"function","z":"47e9b769.f10e68","name":"Total Confirmed Cases","func":"msg.payload = \"Worldwide, there have been \"+msg.payload.Global.TotalConfirmed+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["723ff8b6.d58328","8fe5cf8b.4a7ac8","61a9dd2a.5dae64"]]},{"id":"9e7eae69.f46588","type":"http request","z":"47e9b769.f10e68","name":"Summary - Covid-19","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":500,"wires":[["32b9c54c.c7b9e2","87116c84.ed17d8"]]},{"id":"8fe5cf8b.4a7ac8","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"683934b6.fa0b4c","type":"ui_template","z":"47e9b769.f10e68","group":"65638bb5.46df9c","name":"Chat History","order":0,"width":"10","height":"15","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"61a9dd2a.5dae64","type":"function","z":"47e9b769.f10e68","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["683934b6.fa0b4c","7765861b.4912e"]]},{"id":"7765861b.4912e","type":"debug","z":"47e9b769.f10e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"c51e967d.796b1","type":"inject","z":"47e9b769.f10e68","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Clear Chat","payload":"true","payloadType":"bool","x":120,"y":240,"wires":[["4454e6e2.9a61b8"]]},{"id":"4454e6e2.9a61b8","type":"change","z":"47e9b769.f10e68","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["61a9dd2a.5dae64"]]},{"id":"ca082e2b.5f1ee8","type":"ui_button","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":7,"width":"6","height":"1","passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["4454e6e2.9a61b8"]]},{"id":"54317ba8.9094d4","type":"ui_microphone","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":6,"width":0,"height":0,"maxLength":3,"timeslice":0,"x":110,"y":100,"wires":[["29d46fd.3e4659"]]},{"id":"c6e6e876.249988","type":"function","z":"47e9b769.f10e68","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":360,"wires":[["3c510aa2.10965e"],["723ff8b6.d58328"]]},{"id":"27c9fd68.4fca02","type":"ui_gauge","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"2000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1060,"y":600,"wires":[]},{"id":"b6439cc5.5139","type":"inject","z":"47e9b769.f10e68","name":"Hourly updates","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":760,"wires":[["95047621.af6bf"]]},{"id":"95047621.af6bf","type":"http request","z":"47e9b769.f10e68","name":"Data summary from covid19api","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":720,"wires":[["5a7bcc5e.b85c0c","1e835ef1.1294e9","bad17e9d.df0e","5c084642.76fe58","41ad886b.b503b8"]]},{"id":"29881c2b.5734f4","type":"ui_gauge","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1030,"y":660,"wires":[]},{"id":"6e6bf109.d98428","type":"ui_gauge","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":3,"width":3,"height":3,"gtype":"gage","title":"Total Recovered","label":"","format":"{{value}}","min":0,"max":"1000000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1040,"y":720,"wires":[]},{"id":"f5727f9a.71e508","type":"ui_gauge","z":"47e9b769.f10e68","name":"","group":"7fa34511.0a7d64","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1040,"y":780,"wires":[]},{"id":"41ad886b.b503b8","type":"function","z":"47e9b769.f10e68","name":"Total Countries","func":"totalCountries = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalCountries += 1;\n});\n\nmsg.payload = totalCountries;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":780,"wires":[["f5727f9a.71e508"]]},{"id":"f5da7384.ab2d5","type":"trigger","z":"47e9b769.f10e68","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":260,"y":680,"wires":[["95047621.af6bf"]]},{"id":"9005be46.925fc8","type":"ui_ui_control","z":"47e9b769.f10e68","name":"","events":"change","x":100,"y":680,"wires":[["f5da7384.ab2d5"]]},{"id":"5a7bcc5e.b85c0c","type":"debug","z":"47e9b769.f10e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":840,"wires":[]},{"id":"670f4b62.24562c","type":"comment","z":"47e9b769.f10e68","name":"https://covid19api.com/","info":"","x":480,"y":680,"wires":[]},{"id":"9c61233a.00e42","type":"comment","z":"47e9b769.f10e68","name":"Refresh the dashboard","info":"","x":220,"y":720,"wires":[]},{"id":"1e835ef1.1294e9","type":"change","z":"47e9b769.f10e68","name":"Total Confirmed Cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalConfirmed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":600,"wires":[["27c9fd68.4fca02"]]},{"id":"9a94a216.7936c","type":"function","z":"47e9b769.f10e68","name":"US Confirmed Cases","func":"let totalConfirmedCase = 0;\nlet countryName = \"\";\n\nmsg.payload.Countries.map(function(line){\n  if (line.CountryCode === 'US'){\n      totalConfirmedCase = line.TotalConfirmed;\n      countryName = line.Country;\n  }\n});\n\nmsg.payload = \"The \" + countryName + \" has \" + totalConfirmedCase + \" total confirmed cases of COVID-19\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["723ff8b6.d58328","61a9dd2a.5dae64","8fe5cf8b.4a7ac8"]]},{"id":"b87a33c3.c89268","type":"http request","z":"47e9b769.f10e68","name":"Summary - Covid-19","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":420,"wires":[["9a94a216.7936c","87116c84.ed17d8"]]},{"id":"bad17e9d.df0e","type":"change","z":"47e9b769.f10e68","name":"Total Fatalities","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalDeaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":660,"wires":[["29881c2b.5734f4"]]},{"id":"5c084642.76fe58","type":"change","z":"47e9b769.f10e68","name":"Total Recovered","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalRecovered","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":720,"wires":[["6e6bf109.d98428"]]},{"id":"29d46fd.3e4659","type":"watson-speech-to-text","z":"47e9b769.f10e68","name":"speechToText","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"7QRVAEXbhqpIg5nJHB-ZYAmFi8dhYu0tn2I8Q84z5D6S","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-east.speech-to-text.watson.cloud.ibm.com/instances/30a8c483-4a76-4427-a79d-c4748dd53750","x":300,"y":40,"wires":[["56673dd3.d0965c","7bcb0ff6.a43408"]]},{"id":"a9094417.3cb1a8","type":"watson-assistant-v2","z":"47e9b769.f10e68","name":"Assistant V2","service-endpoint":"https://api.us-east.assistant.watson.cloud.ibm.com/instances/a91432bb-de3d-47fd-bc01-7111ffae61d7","assistant_id":"48151636-94d6-43c4-aef7-b1f85de6df75","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"60","optout-learning":false,"persist-session-id":false,"x":870,"y":40,"wires":[["adc42e13.26a9e8","c6e6e876.249988"]]},{"id":"9d2b5879.0e5d1","type":"debug","z":"e046a977.bb9a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":100,"wires":[]},{"id":"17f79f1c.73ee41","type":"debug","z":"e046a977.bb9a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":240,"wires":[]},{"id":"5a3832b2.5b0a84","type":"debug","z":"e046a977.bb9a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":500,"wires":[]},{"id":"f5ae718c.316b38","type":"switch","z":"e046a977.bb9a18","d":true,"name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"USinfectionlevel","vt":"str"},{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":880,"wires":[[],[],["cb289536.3b98b8"]]},{"id":"ec33074f.b2a7b8","type":"comment","z":"e046a977.bb9a18","name":"Reply to the user","info":"","x":1180,"y":860,"wires":[]},{"id":"3de386c6.3648da","type":"change","z":"e046a977.bb9a18","d":true,"name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["9763359d.2edd48","898b81ff.40113","d7dd4e00.285ed"]]},{"id":"16c7f0b4.615e8f","type":"watson-text-to-speech","z":"e046a977.bb9a18","d":true,"name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"oK7eTYzPKAuqK88AZ74VXwUz3Xvdy8Zqo8Hi7_GKc5ZS","payload-response":true,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/a464b093-0c22-492d-9bff-c04c0aada98d","x":920,"y":1020,"wires":[["742daf81.d00d3"]]},{"id":"cb289536.3b98b8","type":"function","z":"e046a977.bb9a18","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":820,"wires":[["9763359d.2edd48","1a23ae0b.24dc8a"]]},{"id":"742daf81.d00d3","type":"play audio","z":"e046a977.bb9a18","name":"","voice":"102","x":1170,"y":900,"wires":[]},{"id":"6ada213b.763bc","type":"ui_template","z":"e046a977.bb9a18","group":"65638bb5.46df9c","name":"Chat History","order":0,"width":"10","height":"15","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1170,"y":760,"wires":[[]]},{"id":"9763359d.2edd48","type":"function","z":"e046a977.bb9a18","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, we are Leicia and Nolan, representatives from AutoPlow McMaster. How can we help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":740,"wires":[["6ada213b.763bc","882dc57f.1af668"]]},{"id":"882dc57f.1af668","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"3824ec84.1d3c1c","type":"inject","z":"e046a977.bb9a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Clear Chat","payload":"true","payloadType":"bool","x":140,"y":760,"wires":[["a7035622.a00a1"]]},{"id":"a7035622.a00a1","type":"change","z":"e046a977.bb9a18","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":740,"wires":[["9763359d.2edd48"]]},{"id":"2dba6de6.119fe2","type":"ui_button","z":"e046a977.bb9a18","name":"","group":"7fa34511.0a7d64","order":7,"width":"6","height":"1","passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":720,"wires":[["a7035622.a00a1"]]},{"id":"97f64ba7.768728","type":"ui_microphone","z":"e046a977.bb9a18","name":"","group":"7fa34511.0a7d64","order":6,"width":0,"height":0,"maxLength":3,"maxRecogLength":"","timeslice":0,"press":"press","mode":"audio","interimResults":false,"x":70,"y":380,"wires":[["52a9f04e.1c2b48"]]},{"id":"7aa7e892.2264b","type":"function","z":"e046a977.bb9a18","d":true,"name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":880,"wires":[["f5ae718c.316b38"],["16c7f0b4.615e8f"]]},{"id":"52a9f04e.1c2b48","type":"watson-speech-to-text","z":"e046a977.bb9a18","name":"speechToText","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"7QRVAEXbhqpIg5nJHB-ZYAmFi8dhYu0tn2I8Q84z5D6S","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-east.speech-to-text.watson.cloud.ibm.com/instances/30a8c483-4a76-4427-a79d-c4748dd53750","x":140,"y":460,"wires":[["3de386c6.3648da","2868ee3.acdf792","9763359d.2edd48"]]},{"id":"2868ee3.acdf792","type":"function","z":"e046a977.bb9a18","name":"","func":"msg.payload = ` \"${msg.payload}\"`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["47262a73.57eef4","7c373524.6f81fc","fff9f621.1dbe58"]]},{"id":"47262a73.57eef4","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"352a3887.eeff1","type":"ttsultimate","z":"47e9b769.f10e68","name":"","voice":"en-US","ssml":false,"sonosipaddress":"","sonosvolume":"20","sonoshailing":"0","config":"b2d8655f.cdf21","property":"payload","propertyType":{},"rules":[],"playertype":"noplayer","speakingrate":"1","speakingpitch":"0","unmuteIfMuted":true,"x":1550,"y":520,"wires":[["395b5fb9.d1e97"],[]]},{"id":"9e6652a8.393188","type":"text-to-speech","z":"47e9b769.f10e68","name":"","voice":"en-US","x":1570,"y":460,"wires":[["6465f994.226908"]]},{"id":"9f0b2459.553f7","type":"inject","z":"47e9b769.f10e68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"What's your name again?","payloadType":"str","x":1310,"y":460,"wires":[["9e6652a8.393188"]]},{"id":"6465f994.226908","type":"play audio","z":"47e9b769.f10e68","name":"","x":1770,"y":460,"wires":[]},{"id":"71abe93e.b51d9","type":"inject","z":"47e9b769.f10e68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"What's your name again?","payloadType":"str","x":1290,"y":520,"wires":[["352a3887.eeff1"]]},{"id":"395b5fb9.d1e97","type":"play audio","z":"47e9b769.f10e68","name":"","voice":"102","x":1730,"y":520,"wires":[]},{"id":"27ff2c55.351454","type":"play audio","z":"47e9b769.f10e68","d":true,"name":"","voice":"8","x":1570,"y":580,"wires":[]},{"id":"c2535394.b9eef","type":"inject","z":"47e9b769.f10e68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"What's your name again?","payloadType":"str","x":1310,"y":580,"wires":[["27ff2c55.351454"]]},{"id":"fff9f621.1dbe58","type":"exec","z":"e046a977.bb9a18","d":true,"command":"python3 /home/yuxiang/interbotix_ws/src/interbotix_ros_manipulators/interbotix_ros_xsarms/examples/python_demos/voiceTest_forNodeRed_Basic.py","addpay":"payload","append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":1000,"y":220,"wires":[["cb289536.3b98b8","9d2b5879.0e5d1"],["17f79f1c.73ee41"],["5a3832b2.5b0a84"]]},{"id":"7c373524.6f81fc","type":"exec","z":"e046a977.bb9a18","command":"python3 /home/yuxiang/code/2023/autoPlow_NLP_ChatBot/OpenAI_Davinci_chat_API/openAI.py ","addpay":"payload","append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":740,"y":460,"wires":[["9d2b5879.0e5d1","16c7f0b4.615e8f","742daf81.d00d3","cb289536.3b98b8","9763359d.2edd48"],["17f79f1c.73ee41"],["5a3832b2.5b0a84"]]},{"id":"499acc08.fa6194","type":"ui_text_input","z":"e046a977.bb9a18","name":"","label":"Text input","tooltip":"","group":"7fa34511.0a7d64","order":9,"width":"6","height":"3","passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":false,"className":"","topicType":"msg","x":100,"y":180,"wires":[["a6429ae0.70b61","3de386c6.3648da","2868ee3.acdf792","9763359d.2edd48"]]},{"id":"a6429ae0.70b61","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"898b81ff.40113","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":620,"wires":[]},{"id":"d7dd4e00.285ed","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":700,"wires":[]},{"id":"fe650a64.afb4a8","type":"comment","z":"e046a977.bb9a18","name":"","info":"can we add a filter? <2 seconds then cancel\n\npressing stop button will stop everyhting and clean cache?","x":90,"y":540,"wires":[]},{"id":"1a23ae0b.24dc8a","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":900,"wires":[]},{"id":"3727ec20.7e7284","type":"ui_text","z":"e046a977.bb9a18","group":"7fa34511.0a7d64","order":10,"width":0,"height":0,"name":"How to Use","label":"How to use: you could either keep holding the microphone icon to record or to input your question in the text field","format":"{{msg.payload}}","layout":"row-spread","className":"","x":180,"y":660,"wires":[]},{"id":"5f7957b4.5f1108","type":"ui_text","z":"e046a977.bb9a18","group":"7fa34511.0a7d64","order":11,"width":0,"height":0,"name":"","label":"contact: macautoplow@gmail.com","format":"{{msg.payload}}","layout":"row-spread","className":"","x":250,"y":620,"wires":[]},{"id":"e176b6b7.d698b","type":"ui_worldmap","z":"87312f97.b9b44","group":"1f503220.71367e","order":0,"width":0,"height":0,"name":"Map","lat":"43.262250","lon":"-79.920250","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1050,"y":260,"wires":[]},{"id":"f01f30f5.aecb58","type":"function","z":"87312f97.b9b44","name":"","func":"msg.payload = { \"name\":\"Map\", \"lat\":43.272250, \"lon\":-79.920250 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":220,"wires":[["a988c03b.c641","9367cbf0.413718"]]},{"id":"5be18665.826","type":"inject","z":"87312f97.b9b44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["f01f30f5.aecb58"]]},{"id":"20fe3cd1.8ce92c","type":"function","z":"87312f97.b9b44","name":"","func":"msg.payload = { \"name\":\"Map\", \"lat\":43.282250, \"lon\":-79.930250 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["a988c03b.c641"]]},{"id":"ae539a2a.206938","type":"inject","z":"87312f97.b9b44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["20fe3cd1.8ce92c"]]},{"id":"a988c03b.c641","type":"worldmap-tracks","z":"87312f97.b9b44","name":"Map","depth":20,"layer":"combined","smooth":false,"x":870,"y":280,"wires":[["e176b6b7.d698b"]]},{"id":"a4dff15b.93124","type":"exec","z":"87312f97.b9b44","command":"python3 /home/yuxiang/code/2023/oakGPSintegration/readGPS.py","addpay":"","append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":460,"y":100,"wires":[["a988c03b.c641","cb7f6e6c.84d87"],[],["46ae0809.fe1638"]]},{"id":"b67aef45.2a1298","type":"inject","z":"87312f97.b9b44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["a4dff15b.93124"]]},{"id":"cb7f6e6c.84d87","type":"debug","z":"87312f97.b9b44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":60,"wires":[]},{"id":"46ae0809.fe1638","type":"debug","z":"87312f97.b9b44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":140,"wires":[]},{"id":"9367cbf0.413718","type":"debug","z":"87312f97.b9b44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":200,"wires":[]},{"id":"755ffa1d9b9a5d6e","type":"mqtt in","z":"b4e64e49daf3f9c7","name":"","topic":"GroupYAG/GroupYAG/Humidity","qos":"0","datatype":"auto-detect","broker":"7bb39ca92f01fe6b","nl":false,"rap":true,"rh":0,"x":670,"y":120,"wires":[["3339129e5dce3d53","680608d707aa25d9"]]},{"id":"3339129e5dce3d53","type":"debug","z":"b4e64e49daf3f9c7","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"680608d707aa25d9","type":"ui_chart","z":"b4e64e49daf3f9c7","name":"Humidity","group":"b8829744217781ab","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":920,"y":200,"wires":[[]]},{"id":"5f9fd2f1b564f2e4","type":"mqtt in","z":"b4e64e49daf3f9c7","name":"","topic":"GroupYAG/GroupYAG/Temp","qos":"0","datatype":"auto-detect","broker":"7bb39ca92f01fe6b","nl":false,"rap":true,"rh":0,"x":600,"y":360,"wires":[["04b78ce9753cd6a4","10cc84abf5e0b300"]]},{"id":"04b78ce9753cd6a4","type":"debug","z":"b4e64e49daf3f9c7","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":320,"wires":[]},{"id":"10cc84abf5e0b300","type":"ui_chart","z":"b4e64e49daf3f9c7","name":"Temperature","group":"b8829744217781ab","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":400,"wires":[[]]},{"id":"7b8d9b9af5d30032","type":"mqtt in","z":"b4e64e49daf3f9c7","name":"","topic":"4ID3_YAG/pressure","qos":"0","datatype":"auto-detect","broker":"7bb39ca92f01fe6b","nl":false,"rap":true,"rh":0,"x":1010,"y":480,"wires":[["47d4f550e6886bd5","2665125659da1936"]]},{"id":"47d4f550e6886bd5","type":"debug","z":"b4e64e49daf3f9c7","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":520,"wires":[]},{"id":"2665125659da1936","type":"ui_chart","z":"b4e64e49daf3f9c7","d":true,"name":"Pressure","group":"b8829744217781ab","order":0,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1240,"y":600,"wires":[[]]},{"id":"f1ec596e134088f5","type":"mqtt in","z":"b4e64e49daf3f9c7","name":"","topic":"GroupYAG/GroupYAG/Luminosity","qos":"0","datatype":"auto-detect","broker":"7bb39ca92f01fe6b","nl":false,"rap":true,"rh":0,"x":1010,"y":680,"wires":[["f5267b5138b8fa09","ee0d5ec4e0af5c8f"]]},{"id":"f5267b5138b8fa09","type":"debug","z":"b4e64e49daf3f9c7","name":"debug 4","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":680,"wires":[]},{"id":"ee0d5ec4e0af5c8f","type":"ui_chart","z":"b4e64e49daf3f9c7","name":"Light","group":"b8829744217781ab","order":0,"width":0,"height":0,"label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":760,"wires":[[]]}]